/* register.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Estilos generales para el formulario de registro */
.register-form-container {
    background-color: #EBE9F1; /* Fondo claro para el contenedor */
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form-container h2 {
    color: #4C47EA; /* Color del título */
    margin-bottom: 20px;
}

.form-group label {
    color: #4C47EA; /* Color de las etiquetas */
}

.form-control {
    border-radius: 4px;
    border: 1px solid #D6D2E0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.form-control:focus {
    border-color: #9A99CA; /* Color del borde al enfocar */
    box-shadow: 0 0 0 0.2rem rgba(156, 165, 179, 0.25);
}

.btn-primary {
    background-color: #EDB72F; /* Color de fondo del botón */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #D6D2E0; /* Color de fondo del botón al pasar el mouse */
}

.alert {
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

.alert-success {
    background-color: #D6D2E0; /* Color de fondo para mensajes de éxito */
    color: #4C47EA;
}

.alert-danger {
    background-color: #f42749; /* Color de fondo para mensajes de error */
    color: white;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
}

.form-footer a {
    color: #4C47EA;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
.small-image {
    width: 250px;
    height: 200px;
    flex-direction: column; /* Coloca los elementos en una columna */
}

h2.d-flex {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Alinea verticalmente el contenido en el centro */
}

h2.d-flex .small-image {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}
