<!-- templates/footer.html -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-6 mb-5">
            <a href="/" class="navbar-brand">
                <h1 class="text-primary"><span class="text-white">ERGO</span>RICE</h1>
            </a>
            <p>Realiza evaluaciones de posturas ergonómicas de forma rápida y sencilla.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Enlaces rápidos</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="/registro"><i class="fa fa-angle-right mr-2"></i>Registrarse</a>
                <a class="text-white-50 mb-2" href="/login"><i class="fa fa-angle-right mr-2"></i>Iniciar sesión</a>
                <a class="text-white-50 mb-2" href="/manual"><i class="fa fa-angle-right mr-2"></i>Manual</a>
                <a class="text-white-50 mb-2" href="/ejemplos"><i class="fa fa-angle-right mr-2"></i>Ejemplos</a>
                <a class="text-white-50 mb-2" href="/info_ocra"><i class="fa fa-angle-right mr-2"></i>OCRA</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contáctanos</h5>
            <p><i class="fa fa-phone-alt mr-2"></i>+593 992681730</p>
            <p><i class="fa fa-envelope mr-2"></i>ergotech@hotmail.com</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-12 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white-50">
                &copy; <a href="/" class="text-white">ERGO</a>. Todos los derechos reservados.
            </p>
        </div>
    </div>
</div>
