<!-- templates/navbar.html -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <!-- <img src="{{ url_for('static', filename='imagenes/logo.png') }}" width="90" height="90"> -->
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='imagenes/logo.png') }}" width="90" height="90" alt="Logo">
            </a>            
            <a href="/" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">ERGO</span>TECH</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/info_ocra" class="nav-item nav-link active">CheckList OCRA</a>
                    <!--<div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Factores</a>
                         <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="info_ocra" class="dropdown-item">Factor Fuerza</a>
                            <a href="info_reba" class="dropdown-item">Factor recuperación</a>
                            <a href="info_ocra" class="dropdown-item">Factor Frecuencia</a>
                        </div> 
                    </div>-->
                    <!-- <a href="/cargar_video" class="nav-item nav-link">Analizar Video</a> -->
                    <a href="/registro" class="nav-item nav-link">Registrarse</a>
                    <a href="/login" class="nav-item nav-link">Iniciar sesión</a>
                    <!-- <a href="/registro_empleado" class="nav-item nav-link">Registro de empleado</a> -->
                </div>
            </div>
        </nav>
    </div>
</div>
