<!-- templates/navbar.html -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <!-- <img src="{{ url_for('static', filename='imagenes/logo.png') }}" width="90" height="90"> -->
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='imagenes/logo.png') }}" width="90" height="90" alt="Logo">
            </a>            
            <a href="/" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">ERGO</span>TECH</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/manual" class="nav-item nav-link">Manual</a>
                    <a href="/ejemplos" class="nav-item nav-link">Ejemplos</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Métodos de Evaluación</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="/info_ocra" class="dropdown-item">OCRA</a>
                        </div>
                    </div>
                    <a href="/registro" class="nav-item nav-link">Registrarse</a>
                    <a href="/login" class="nav-item nav-link">Iniciar sesión</a>
                </div>
            </div>
        </nav>
    </div>
</div>
