{% extends "base.html" %}

{% block title %}Registro de Empleado - ERGORICE{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto register-form-container">
            <h2 class="my-4 d-flex align-items-center">
                <img src="{{ url_for('static', filename='imagenes/registrar_empleado.png') }}" alt="Image" class="small-image mr-2">
                Registro de Empleado
            </h2>
              
            <form action="/registro_empleado" method="POST">
                <!-- Campos del formulario para Empleado -->
                <div class="form-group">
                    <label for="rol">Rol:</label>
                    <input type="text" class="form-control" id="rol" name="rol" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required>
                </div>
                <div class="form-group">
                    <label for="sexo">Sexo:</label>
                    <select class="form-control" id="sexo" name="sexo" required>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="edad">Edad:</label>
                    <input type="number" class="form-control" id="edad" name="edad" required>
                </div>
                <div class="form-group">
                    <label for="puesto">Puesto:</label>
                    <input type="text" class="form-control" id="puesto" name="puesto" required>
                </div>
                <div class="form-group">
                    <label for="duracion_turno">Duración del Turno (minutos):</label>
                    <input type="number" class="form-control" id="duracion_turno" name="duracion_turno">
                </div>
                <div class="form-group">
                    <label for="duracion_descanso">Duración del Descanso (minutos):</label>
                    <input type="number" class="form-control" id="duracion_descanso" name="duracion_descanso">
                </div>
                <div class="form-group">
                    <label for="duracion_tiempo_libre">Duración del Tiempo Libre (minutos):</label>
                    <input type="number" class="form-control" id="duracion_tiempo_libre" name="duracion_tiempo_libre">
                </div>

                <!-- Campos del formulario para Actividades -->
                <h4 class="my-4">Información de Actividades</h4>
                <div class="form-group">
                    <label for="tipo_actividad">Tipo de Actividad:</label>
                    <input type="text" class="form-control" id="tipo_actividad" name="tipo_actividad" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="actividad_repetitiva">Actividad Repetitiva:</label>
                    <select class="form-control" id="actividad_repetitiva" name="actividad_repetitiva">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="num_pausas">Número de Pausas:</label>
                    <select class="form-control" id="num_pausas" name="num_pausas">
                        <option value="0">No existen pausas reales, excepto de unos pocos minutos (menos de 5) en 7-8 horas de turno.</option>
                        <option value="1">Existe 1 pausa, de al menos 8 minutos, en un turno de 6 horas.</option>
                        <option value="1">Existe 1 pausa, de al menos 8 minutos, en un turno de 7 horas sin descanso para almorzar.</option>
                        <option value="2">Existen 2 pausas, de al menos 8 minutos, en un turno de 6 horas (sin descanso para el almuerzo).</option>
                        <option value="2">Existen 2 pausas, de al menos 8 minutos, además del descanso para el almuerzo, en un turno de 7-8 horas.</option>
                        <option value="3">Existen 3 pausas, de al menos 8 minutos, además del descanso para el almuerzo, en un turno de 7-8 horas.</option>
                        <option value="3">Existen 3 pausas (sin descanso para el almuerzo), de al menos 8 minutos, en un turno de 7-8 horas.</option>
                        <option value="4">Existen al menos 4 interrupciones (además del descanso para el almuerzo) de al menos 8 minutos en un turno de 7-8 horas.</option>
                        <option value="4">Existen 4 interrupciones de al menos 8 minutos en un turno de 6 horas (sin descanso para el almuerzo).</option>
                        <option value="10">El periodo de recuperación está incluido en el ciclo de trabajo (al menos 10 segundos consecutivos de cada 60, en todos los ciclos de todo el turno).</option>
                        <option value="60">Existe una interrupción de al menos 8 minutos cada hora de trabajo (contando el descanso del almuerzo).</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lunch_break_duration">Duración del Almuerzo (minutos):</label>
                    <input type="number" class="form-control" id="lunch_break_duration" name="lunch_break_duration">
                </div>
                <div class="form-group">
                    <label for="acciones_tecnicas_dinamicas">Acciones Técnicas Dinámicas:</label>
                    <select class="form-control" id="acciones_tecnicas_dinamicas" name="acciones_tecnicas_dinamicas">
                        <option value="0">No requiere acción</option>
                        <option value="20">Movimientos del brazo son lentos (20 acciones/minuto). Se permiten pequeñas pausas frecuentes.</option>
                        <option value="30">Movimientos del brazo no son demasiado rápidos (30 acciones/minuto). Se permiten pequeñas pausas.</option>
                        <option value="40">Movimientos del brazo son bastante rápidos (más de 40 acciones/minuto). Se permiten pequeñas pausas.</option>
                        <option value="40">Movimientos del brazo son bastante rápidos (más de 40 acciones/minuto). Sólo se permiten pequeñas pausas ocasionales e irregulares.</option>
                        <option value="50">Movimientos del brazo son rápidos (más de 50 acciones/minuto). Sólo se permiten pequeñas pausas ocasionales e irregulares.</option>
                        <option value="60">Movimientos del brazo son rápidos (más de 60 acciones/minuto). La carencia de pausas dificulta el mantenimiento del ritmo.</option>
                        <option value="70">Movimientos del brazo se realizan con una frecuencia muy alta (70 acciones/minuto o más). No se permiten las pausas.</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="acciones_tecnicas_estaticas">Acciones Técnicas Estáticas:</label>
                    <select class="form-control" id="acciones_tecnicas_estaticas" name="acciones_tecnicas_estaticas">
                        <option value="0">No requiere acción</option>
                        <option value="2/3">Se sostiene un objeto durante al menos 5 segundos consecutivos realizándose una o más acciones estáticas durante 2/3 del tiempo de ciclo (o de observación).</option>
                        <option value="3/3">Se sostiene un objeto durante al menos 5 segundos consecutivos realizándose una o más acciones estáticas durante 3/3 del tiempo de ciclo (o de observación).</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="puntaje_acciones_fuerza">Puntaje Acciones de Fuerza:</label>
                    <select class="form-control" id="puntaje_acciones_fuerza" name="puntaje_acciones_fuerza">
                        <optgroup label="Fuerza Moderada (Esfuerzo CR-10: 3 o 4)">
                            <option value="2">1/3 del tiempo</option>
                            <option value="4">50% del Tiempo</option>
                            <option value="6">>50% del tiempo</option>
                            <option value="8">Casi todo el tiempo</option>
                        </optgroup>
                        <optgroup label="Fuerza Intensa (Esfuerzo CR-10: 5 o 6)">
                            <option value="4">2 seg. cada 10 min.</option>
                            <option value="8">1% del tiempo</option>
                            <option value="16">5% del tiempo</option>
                            <option value="24">> 10% del tiempo</option>
                        </optgroup>
                        <optgroup label="Fuerza Casi Máxima (Esfuerzo CR-10: 7 o más)">
                            <option value="6">2 seg. cada 10 min.</option>
                            <option value="12">1% del tiempo</option>
                            <option value="24">5% del tiempo</option>
                            <option value="32">> 10% del tiempo</option>
                        </optgroup>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="factores_socio_organizativos">Factores Socio-Organizativos (Fso):</label>
                    <select class="form-control" id="factores_socio_organizativos" name="factores_socio_organizativos">
                        <option value="1">El ritmo de trabajo está parcialmente determinado por la máquina, con pequeños lapsos de tiempo en los que el ritmo de trabajo puede disminuirse o acelerarse</option>
                        <option value="2">El ritmo de trabajo está totalmente determinado por la máquina</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="factores_fisico_mecanicos">Factores Físico-Mecánicos (Ffm):</label>
                    <select class="form-control" id="factores_fisico_mecanicos" name="factores_fisico_mecanicos">
                        <option value="2">Se utilizan guantes inadecuados (que interfieren en la destreza de sujeción requerida por la tarea) más de la mitad del tiempo</option>
                        <option value="2">La actividad implica golpear (con un martillo, golpear con un pico sobre superficies duras, etc.) con una frecuencia de 2 veces por minuto o más</option>
                        <option value="2">La actividad implica golpear (con un martillo, golpear con un pico sobre superficies duras, etc.) con una frecuencia de 10 veces por hora o más</option>
                        <option value="2">Existe exposición al frío (menos de 0º) más de la mitad del tiempo</option>
                        <option value="2">Se utilizan herramientas que producen vibraciones de nivel bajo/medio 1/3 del tiempo o más</option>
                        <option value="2">Se utilizan herramientas que producen vibraciones de nivel alto 1/3 del tiempo o más</option>
                        <option value="2">Las herramientas utilizadas causan compresiones en la piel (enrojecimiento, callosidades, ampollas, etc.)</option>
                        <option value="2">Se realizan tareas de precisión más de la mitad del tiempo (tareas sobre áreas de menos de 2 o 3 mm.)</option>
                        <option value="2">Existen varios factores adicionales concurrentes, y en total ocupan más de la mitad del tiempo</option>
                        <option value="3">Existen varios factores adicionales concurrentes, y en total ocupan todo el tiempo</option>
                    </select>
                </div>
                
                
                <button type="submit" class="btn btn-primary">Registrar Empleado</button>
            </form>          
        </div>
    </div>
</div>
{% endblock %}
